<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}
  {%- feed_meta -%}

  <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/brand/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/media/brand/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/media/brand/favicon-16x16.png">
  <link rel="manifest" href="/assets/media/brand/site.webmanifest">
  <link rel="mask-icon" href="/assets/media/brand/safari-pinned-tab.svg" color="#c33a41">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  {% comment %}
  Imports Google fonts - Inter
  {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">

</head>
