---
layout: default
permalink: reports/annual-reports
---

{% capture annual_heading %}
<div class="row">
  <div class="col-12 col-sm-10 col-md-8 mx-auto">
    <h2 class="text-center">Annual Reports</h2>
  </div>
</div>
{% endcapture %}
{% include section.html
  bg_class="bg-light"
  content=annual_heading
%}


{% capture annual_content %}
<div class="row">
  <div class="col-12 col-sm-10 col-md-8 mx-auto">
    <ul class="list-group list-group-flush">
      {% for report in site.data.annual_reports %}
      <li class="list-group-item project-list-item px-0 py-0">
        <a href="/assets/file{{ report.filepath }}" class="text-decoration-none">
          <div class="d-flex flex-row align-items-center py-2 justify-content-between" style="min-height: 48px;">
            <div class="">
              {{ report.name }}
            </div>
            <div class="ml-3 flex-grow-0 flex-shrink-0">
              <ion-icon name="chevron-forward-sharp"></ion-icon>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endcapture %}
{% include section.html
  bg_class="bg-white"
  content=annual_content
%}
