---
layout: default
---

{% capture donate_filter %}
<div class="row px-3">
  <div class="col-12 col-md-8 mx-auto text-center mb-4">
    <h1>Find your nearest COVID Center</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 px-3 mb-0">
    <ul class="nav nav-tabs justify-content-center" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active d-flex flex-row align-items-center" data-toggle="tab" href="#vaccination_centers">
          <ion-icon name="medkit" class="text-muted my-0 mr-2"></ion-icon>
          <div>Vaccination centers</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row align-items-center" data-toggle="tab" href="#covid_centers">
          <ion-icon name="home" class="text-muted my-0 mr-2"></ion-icon>
          <div>Covid centers</div>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  py_class="pt-5 pb-0"
  content=donate_filter
%}

{% capture covid_centers_tab_old %}
{% for center in site.data.covid_centers %}
<div class="bg-white rounded shadow-sm p-3 mb-3 d-flex flex-column flex-md-row justify-content-between">
  <div class="flex-shrink-1 d-flex flex-column align-items-start">
    <div class="text-color-dark">{{ center.Name_of_the_Center }}</div>
    <div class="d-flex flex-row align-items-center">
      <ion-icon name="person" class="text-muted m-0 mr-1"></ion-icon>
      <div class="text-color-dark small">{{ center.Contact }}</div>
      <ion-icon name="call" class="text-muted ml-3 mr-1"></ion-icon>
      <div class="text-color-dark small">{{ center.Number }}</div>
    </div>
  </div>
  <div class="flex-shrink-1 d-flex flex-column align-items-start align-items-md-end text-md-right mt-3 mt-md-0">
    <div class="text-muted small" style="line-height: 1.2;">
      {{ center.Address | split: ", " | join: "<br />" }}
    </div>
    <div class="small">{{ center.City }}, {{ center.State }}</div>
  </div>
</div>
{% endfor %}
{% endcapture %}

{% capture vaccination_centers_tab_old %}
{% for center in site.data.vaccination_centers %}
<div class="bg-white rounded shadow-sm p-3 mb-3 d-flex flex-column flex-md-row justify-content-between">
  <div class="flex-shrink-1 d-flex flex-column align-items-start">
    <div class="text-color-dark">{{ center.Name }}</div>
    <div class="d-flex flex-row align-items-center">
      <ion-icon name="person" class="text-muted m-0 mr-1"></ion-icon>
      <div class="text-color-dark small">{{ center.Doctors_Center_incharge }}</div>
      <ion-icon name="call" class="text-muted ml-3 mr-1"></ion-icon>
      <div class="text-color-dark small">{{ center.Contact_Number }}</div>
    </div>
  </div>
  <div class="flex-shrink-1 d-flex flex-column align-items-start align-items-md-end text-md-right mt-3 mt-md-0">
    <div class="text-muted small" style="line-height: 1.2;">
      {{ center.Address | split: ", " | join: "<br />" }}
    </div>
    <div class="small">{{ center.City }}, {{ center.State }}</div>
  </div>
</div>
{% endfor %}
{% endcapture %}

{% capture covid_centers_tab %}
<ul class="list-group list-group-flush">

  {% for center in site.data.covid_centers %}
  <li class="list-group-item">
    <div class="bg-white rounded d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-shrink-1 d-flex flex-column align-items-start">
        <div class="text-color-dark">{{ center.Name_of_the_Center }}</div>
        <div class="d-flex flex-row align-items-center">
          <ion-icon name="person" class="text-muted m-0 mr-1"></ion-icon>
          <div class="text-color-dark small">{{ center.Contact }}</div>
          <ion-icon name="call" class="text-muted ml-3 mr-1"></ion-icon>
          <div class="text-color-dark small">{{ center.Number }}</div>
        </div>
      </div>
      <div class="flex-shrink-1 d-flex flex-column align-items-start align-items-md-end text-md-right mt-3 mt-md-0">
        <div class="text-muted small" style="line-height: 1.2;">
          {{ center.Address | split: ", " | join: "<br />" }}
        </div>
        <div class="small">{{ center.City }}, {{ center.State }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endcapture %}

{% capture vaccination_centers_tab %}
<ul class="list-group list-group-flush">
  {% for center in site.data.vaccination_centers %}
    <li class="list-group-item">
      <div class="bg-white rounded d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-shrink-1 d-flex flex-column align-items-start">
          <div class="text-color-dark">{{ center.Name }}</div>
          <div class="d-flex flex-row align-items-center">
            <ion-icon name="person" class="text-muted m-0 mr-1"></ion-icon>
            <div class="text-color-dark small">{{ center.Doctors_Center_incharge }}</div>
            <ion-icon name="call" class="text-muted ml-3 mr-1"></ion-icon>
            <div class="text-color-dark small">{{ center.Contact_Number }}</div>
          </div>
        </div>
        <div class="flex-shrink-1 d-flex flex-column align-items-start align-items-md-end text-md-right mt-3 mt-md-0">
          <div class="text-muted small" style="line-height: 1.2;">
            {{ center.Address | split: ", " | join: "<br />" }}
          </div>
          <div class="small">{{ center.City }}, {{ center.State }}</div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endcapture %}

{% capture donate_tabpanes %}
<div class="row bg-light">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 p-0 mb-3">
    <div class="px-3 pt-0 pb-3">
      <div class="tab-content overflow-auto bg-white border-right border-left border-bottom" style="max-height: 400px;">
        <div class="tab-pane active" id="vaccination_centers" role="tabpanel" aria-labelledby="vaccination_centers_tab">{{ vaccination_centers_tab }}</div>
        <div class="tab-pane" id="covid_centers" role="tabpanel" aria-labelledby="covid_centers_tab">{{ covid_centers_tab }}</div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  py_class="pt-0 pb-4"
  content=donate_tabpanes
%}

{% capture protect_the_protector_section %}
<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 text-center">
    <h2 class="mb-3">Protect the protectors</h2>
    <div class="lead mb-5">
      A DFY initiative to support medical staff with PPE kits and materials
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      {% for campaign in site.data.protect_the_protector %}
        <div class="col-6 col-md-4 mb-4 text-center">
          <div class="mb-2 rounded overflow-hidden mx-auto" style="max-width: 180px;">
            <img class="img-fluid" src="/assets/media/protect-the-protector/{{ campaign.image }}" />
          </div>
          <div class="small text-color-dark">{{ campaign.name }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 text-muted lead text-center">
    &hellip; and many more other locations!
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-white"
  content=protect_the_protector_section
%}


{% include donate_ribbon.html %}

{% capture partners %}
<div class="row">
  <div class="col-12 col-md-6 col-lg-7 mb-4 text-center text-md-left">
    <h2 class=mb-3>Our Partners</h2>
    <a href="/partners" role="button" class="btn btn-outline-primary d-inline-flex flex-row align-items-center">
      <div class="d-inline-block">Show all</div>
      <ion-icon name="arrow-forward-outline" class="my-0 ml-3"></ion-icon>
    </a>
  </div>
  <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5 mb-4">

    <div id="partnerRibbonCarousel" class="carousel slide p-3 rounded bg-white shadow-sm" data-ride="carousel">
      <div class="carousel-inner">
        {% for partner in site.data.partners %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="mx-auto" style="max-width: 150px;">
            <img src="/assets/media/partners/{{ partner.logo_image }}" class="img-fluid" alt="{{ partner.name }}">
          </div>
          <div class="small text-center mt-3">{{ partner.name }}</div>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#partnerRibbonCarousel" role="button" data-slide="prev">
        <ion-icon name="caret-back-circle" class="text-muted"></ion-icon>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#partnerRibbonCarousel" role="button" data-slide="next">
        <ion-icon name="caret-forward-circle" class="text-muted"></ion-icon>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  content=partners
%}
