---
layout: default
---


{% capture section1 %}
  <div class="row py-4 align-items-center">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-0 col-lg-5 col-xl-5 text-center text-md-left">
      <h1 class="my-3 my-lg-4">Make a Difference</h1>
      <div class="mb-3 mb-lg-4 lead">
        Your contribution in our war against COVID can ensure a new breath of life for someone!
      </div>
      <a class="btn btn-primary btn-lg mb-3 mb-lg-4" href="#" role="button">
        <div class="d-flex flex-row align-items-center">
          Donate now
          <ion-icon class="ml-2" name="arrow-forward-outline"></ion-icon>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-10 offset-sm-1 col-md-7 offset-md-0 col-lg-6 offset-lg-1 col-xl-6 offset-xl-1 my-3 my-lg-4">
      <img class="img-fluid rounded " src="/assets/media/landing/donate/clinic-1807543_1920.jpg" />
    </div>
  </div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  content=section1
%}

{% comment %}
{% capture section1 %}
  <div class="row py-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
      <div class="p-3 rounded" style="background-color: rgba(255,255,255,0.7);">
        <h1 class="mt-3 text-center text-lg-right">Your support in our war against COVID has ensured a new breath of life for someone</h1>
      </div>
    </div>
  </div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  bg_image="/assets/media/landing/donate/clinic-1807543_1920.jpg"
  content=section1
%}

{% endcomment %}

{% capture section2-old %}
  <div class="row py-5 align-items-center">
    <div class="col-12 col-md-8 col-xl-6 text-justify my-3 lead text-white">
      The 2nd wave of <strong>COVID-19</strong> has destroyed myriad of lives,
      but your support in these trying times has been a silver lining of hope.
      We are extremely grateful to everyone who has stood by us in these challenging times
      and your support has empowered us to provide the necessary COVID Care to patients.
    </div>
    <div class="col-12 col-md-4 col-xl-6 text-center my-3 text-white-50">
      {% include image.html src="/assets/media/brand/logo-color-rect.png" %}
    </div>
  </div>
{% endcapture %}

{% capture section2 %}
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 text-center h4 mx-auto">
      <blockquote class="blockquote">
        <div class="mb-3 text-white">
          The 2nd wave of <strong>COVID-19</strong> has destroyed myriad of lives,
          but your support in these trying times has been a silver lining of hope.
          We are extremely grateful to everyone who has stood by us in these challenging times
          and your support has empowered us to provide the necessary COVID Care to patients.
        </div>
        <div class="blockquote-footer text-white-50">All of us from <cite title="Source Title">Doctors For You</cite></div>
      </blockquote>

    </div>
  </div>
{% endcapture %}


{% include section.html
  bg_class="bg-dark"
  content=section2
%}

{% capture section3 %}
  <div class="row py-3">
    <div class="col-12 text-center mb-3">
      <h2>Your contributions</h2>
      <div class="lead">&hellip; so far have helped us accomplish</div>
    </div>
  </div>

  {% assign index__contribution_card = "index__contribution_card col-6 col-sm-4 col-md-3 p-3" %}
  {% assign index__contribution_card_inner = "shadow-on-hover d-flex flex-column justify-content-center index__contribution_card_inner text-center bg-white rounded px-3 py-4" %}

  <div class="row mx-n3">

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">17+</div>
        <div class="text-color-dark">COVID Care Centers</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">56+</div>
        <div class="text-color-dark">Vaccination Centers</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">2+ lakh</div>
        <div class="text-color-dark">People Vaccinated</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">800+</div>
        <div class="text-color-dark">High Quality Oxymeters</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">150+</div>
        <div class="text-color-dark">Patient Monitors</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">1000+</div>
        <div class="text-color-dark">Oxygen Cylinders</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="h3 text-primary">130</div>
        <div class="text-color-dark">Oxygen Concentrators</div>
      </div>
    </div>

    <div class="{{ index__contribution_card }}">
      <div class="{{ index__contribution_card_inner }}">
        <div class="lead">&hellip; &amp; counting</div>
      </div>
    </div>

  </div>

{% endcapture %}

{% include section.html
  bg_class="bg-light"
  content=section3
%}

{% capture section4 %}
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mb-3 mb-md-4">We need immediate funds to &hellip;</h2>
    </div>
  </div>

  {% assign index__fund_proceeds_card = "shadow-on-hover-grow col-12 rounded-lg p-3 px-md-4 mb-3 d-flex flex-row align-items-center" %}

  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="row">
        <div class="{{ index__fund_proceeds_card }}">
          <ion-icon class="h4 mr-3 text-muted" name="card"></ion-icon> Raise funds for our relief program on Ketto.org
        </div>
        <div class="{{ index__fund_proceeds_card }}">
          <ion-icon class="h4 mr-3 text-muted" name="medkit"></ion-icon> Buy necessary medical equipment for COVID care
        </div>
        <div class="{{ index__fund_proceeds_card }}">
          <ion-icon class="h4 mr-3 text-muted" name="people"></ion-icon>Ensure healthcare for everyone
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% include section.html
  bg_class="bg-white"
  content=section4
%}


{% capture section5 %}
  <div class="row">

    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto text-justify">
      Each and every one of us at DFY are working round the clock
      to ensure that our COVID relief work reaches
      as many citizens as possible.
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto text-justify">
      Your support is our pillar of strength
      and we hope you will continue to support us
      in our battle against COVID.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto text-justify">
      Let's make this place a better and healthier place
      and win the fight together.
    </div>
  </div>

{% endcapture %}

{% include section.html
  bg_class="bg-dark"
  content=section5
%}


{% capture section6 %}
  <div class="row mb-3">
    <div class="col-12">
      <div>
        Thank you,<br />
        Team Doctors For You
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <img class="img-fluid" src="/assets/media/landing/donate/field.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex">
        <div class="">
          @DFYIndia
        </div>
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>

      </div>
    </div>
  </div>
{% endcapture %}

{% include section.html
  bg_class="bg-white"
  content=section6
%}
