---
layout: default
inlinejs: [
  "partners-filter.js",
]
---

{% capture partner_filter %}
<div class="row px-3">
  <div class="col-12 col-md-8 mx-auto text-center">
    <h1>Our Partners</h1>
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  content=partner_filter
%}

{% capture partner_section %}
<div class="row mb-5">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 px-3 mb-0">
    <ul id="partnerTab" class="nav nav-pills nav-pills-sm justify-content-center" role="tablist">
      <li class="nav-item mb-3" role="presentation">
        <a class="nav-link active" data-filter="all" href="#">Show all</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" data-filter="corporate" href="#"> Corporates </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" data-filter="govt_body" href="#">Govt. Bodies</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" data-filter="organization" href="#">Organizations</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" data-filter="institution" href="#">Institutions</a>
      </li>
    </ul>
  </div>
</div>

<div class="row justify-content-center">
  {% for partner in site.data.partners %}
  <div class="logo_content col-4 col-sm-3 col-md-3 col-xl-2 px-3 mb-5" data-filter="{{ partner.type }}">
    <img src="/assets/media/partners/{{ partner.logo_image }}" alt="{{ partner.name }}" class="img-fluid" />
    <div class="text-color-dark small text-center mt-3">{{ partner.name }}</div>
  </div>
  {% endfor %}
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-white"
  content=partner_section
%}
