---
layout: default
inlinejs: [
  "partners-filter.js",
]
---

{% capture partner_filter %}
<div class="row px-3">
  <div class="col-12 col-md-8 mx-auto text-center mb-4">
    <h1>Our Partners</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-12 offset-md-0 px-3 mb-0">
    <ul id="partnerTab" class="nav nav-tabs justify-content-center" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active d-flex flex-row align-items-center" data-filter="all" href="#">
          <ion-icon name="apps" class="text-muted my-0 mr-2 lead"></ion-icon>
          <div>Show all</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row align-items-center" data-filter="corporate" href="#">
          <ion-icon name="home" class="text-muted my-0 mr-2 lead"></ion-icon>
          <div>Corporates</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row align-items-center" data-filter="govt_body" href="#">
          <ion-icon name="home" class="text-muted my-0 mr-2 lead"></ion-icon>
          <div>Govt. Bodies</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row align-items-center" data-filter="organization" href="#">
          <ion-icon name="home" class="text-muted my-0 mr-2 lead"></ion-icon>
          <div>Organizations</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row align-items-center" data-filter="institution" href="#">
          <ion-icon name="home" class="text-muted my-0 mr-2 lead"></ion-icon>
          <div>Institutions</div>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  py_class="pt-5 pb-0"
  content=partner_filter
%}

{% capture partner_section %}
<div class="row justify-content-center">
  {% for partner in site.data.partners %}
  <div class="logo_content col-4 col-sm-3 col-md-3 col-xl-2 px-3 mb-5" data-filter="{{ partner.type }}">
    <img src="/assets/media/partners/{{ partner.logo_image }}" alt="{{ partner.name }}" class="img-fluid" />
    <div class="text-color-dark small text-center mt-3">{{ partner.name }}</div>
  </div>
{% endfor %}
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-white"
  py_class="pt-4 pb-5"
  content=partner_section
%}
