---
layout: default
---

{% capture public_health %}
{% assign section = site.data.what_we_do.public_health_and_nutrition %}
{% assign carousel_id = "id_" | append: section.slug | append: "_carousel" %}
<div class="row align-items-center">
  <div class="col-12 col-md-5 text-center">
    <h2 class="mb-4 text-center text-md-left">{{ section.name }}</h2>
    <div class="mb-4 text-justify">
      {{ section.summary }}
    </div>
  </div>
  <div class="col-12 col-sm-10 offset-sm-1 col-md-7 offset-md-0">
    <div class="bg-dark rounded p-2">
      <div id="{{ carousel_id }}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for project in section.projects %}
          {% assign project_page = site.pages | where: "path", project.path | first %}

          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="/assets/media/{{ project_page.cover }}" class="d-block w-100 mb-2" alt="{{ project.name }}">
            <div class="text-center">
              <a class="text-decoration-none text-white" href="{{ project_page.path | remove: '.md' }}">{{ project_page.title }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% include section.html
  bg_class="bg-light"
  content=public_health
%}

{% comment %}
{% for item in site.data.what_we_do %}
  {% assign project_category = item[1] %}
  {{ project_category.name }}
{% endfor %}
{% endcomment %}
