@import "bootstrap/scss/mixins";
@import "variables";
@import "bootstrap/scss/bootstrap";


@import "header";
@import "layout";


.fine-print {
  font-size: $font-size-base *0.75;
}

.text-color-dark {
  color: $text-color-dark !important;
}

// // Dark backgrounds
// .text-color-bright {
//   color: $text-color-mute !important;
// }
// .text-color-dim {
//   color: $text-color-dark !important;
// }


.index__contribution_card_inner {
  height: 180px;
}

.shadow-on-hover {
  transition: box-shadow .15s ease-in;
  &:hover {
    box-shadow: 0 .1rem 1.125rem rgba(18, 20, 29, .1);
  }
}

.shadow-on-hover-grow {
  transition: box-shadow .15s ease-in;
  box-shadow: 0 0.075rem 1rem rgba(18, 20, 29, 0.075);
  &:hover {
    box-shadow: 0 .2rem 2rem rgba(18, 20, 29, .15);
  }
}

.color-facebook { color: #1877f2; }
.color-twitter { color: #1da1f2; }
.color-instagram { color: #c32aa3; }
.color-linkedin { color: #0a66c2; }
.color-youtube { color: #ff0000; }

.btn-alt-cta {
  color: $primary !important;
  &:hover, &:active {
    color: $primary !important;
  }
}

///////////////////////////////////////
@keyframes animatedBackground {
	from { left: -15%; }
	to { left: 115%; }
}
#green-glow {
  height: 60%;
  width: 15%;
  background-image: linear-gradient(to right, rgba($success, 0), rgba($success, 0.6));
  top: 20%;
  left: 0;
  animation: animatedBackground 4s linear infinite;
}

#green-mask {
  // height: 100%;
  // width: 100%;
  // top: 0;
  // left: 0;
}
/////////////////////////////////////

// .center-cropped {
//   object-fit: none; /* Do not scale the image */
//   object-position: center; /* Center the image within the element */
//   height: 100px;
//   width: 100px;
// }

.center-cropped {
  width: 200px; height: 200px;
  border-radius: 50%;
  @include media-breakpoint-down(xs) { width: 110px; height: 110px; }
  @include media-breakpoint-down(sm) { width: 140px; height: 140px; }
  @include media-breakpoint-down(md) { width: 160px; height: 160px; }
  // @include media-breakpoint-down(md) {  }
  // @include media-breakpoint-down(lg) {  }
  border: 2px solid $border-color;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
