@import "bootstrap/scss/mixins";
@import "variables";
@import "bootstrap/scss/bootstrap";


@import "header";
@import "layout";


.fine-print {
  font-size: $font-size-base *0.75;
}

.text-color-dark {
  color: $text-color-dark !important;
}

// // Dark backgrounds
// .text-color-bright {
//   color: $text-color-mute !important;
// }
// .text-color-dim {
//   color: $text-color-dark !important;
// }


.index__contribution_card_inner {
  height: 180px;
}

.shadow-on-hover {
  transition: box-shadow .15s ease-in;
  &:hover {
    box-shadow: 0 .1rem 1.125rem rgba(18, 20, 29, .1);
  }
}

.shadow-on-hover-grow {
  transition: box-shadow .15s ease-in;
  box-shadow: 0 0.075rem 1rem rgba(18, 20, 29, 0.075);
  &:hover {
    box-shadow: 0 .2rem 2rem rgba(18, 20, 29, .15);
  }
}

.color-facebook { color: #1877f2; }
.color-twitter { color: #1da1f2; }
.color-instagram { color: #c32aa3; }
.color-linkedin { color: #0a66c2; }
.color-youtube { color: #ff0000; }
